table{
    border-style:double;
    border-width: 10px;
    border-radius: 20px;
    
}
.an {
    border: 1 px solid black;
    border-collapse: collapse;

}

td, th {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    color: rgb(235, 13, 13);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}